@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;400&display=swap');


/* Give headers playfair font */
h1 {
font-family: 'Spartan', sans-serif;
color: #16617a;
}


:root {
  --sidebar-background-color: #eaf9f5; /* Make sidebar blue */
}


h2{
  font-family: 'Spartan', sans-serif;
 	font-weight: 400;
	font-size: 1.1rem;
	color: #444; 
	text-transform: uppercase;
}


h3{
    font-family: 'Montserrat', sans-serif;
  	font-weight: 500;
  	color: #16617a;

}


a {
	color: #095a95;

}

a:hover {
	text-decoration: underline dotted;
	

}


.aside ul {
	padding-left: 0.2rem;
}

.decorator::after {
	background-color: #23a0ab;
}




b::title{
  	color: #16617a;
	font-weight: 600;
}


p::title {

	text-align: justify;
}
