@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Montserrat&display=swap');

/* Give headers playfair font */
h1 {
font-family: 'Lexend Deca', sans-serif;
color: #88398a;
}


:root {
  --sidebar-background-color: #f1ecf5; /* Make sidebar blue */
}


h2{
  font-family: 'Montserrat', sans-serif;
 	font-weight: 400;
	font-size: 1.1rem;
	color: #555; 
	text-transform: uppercase;
}


h3{
    font-family: 'Montserrat', sans-serif;
  	font-weight: 500;
  	color: #88398a;

}


a {
	color: #095a95;

}

a:hover {
	text-decoration: underline dotted;
	

}


.aside ul {
	padding-left: 0.2rem;
}

.decorator::after {
	background-color: #8f4591;
}




b::title{
  	color: #88398a;
	font-weight: 600;
}


p::title {

	text-align: justify;
}
